@{
    ViewData["Title"] = "Zaboravljena lozinka 2";
}

<h2>Zaboravljena lozinka (test)</h2>

<form asp-action="ForgotPassword" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required />
    </div>

    <button type="submit" class="btn btn-primary">Pošalji kod</button>
</form>
