@{
    ViewData["Title"] = "Zaboravljena lozinka";
}

<div class="auth-page">
    <div class="login-card">
        <h2>Zaboravljena lozinka</h2>

        <form method="post">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="mb-4">
                <label>Email</label>
                <input name="email" class="form-control" placeholder="Unesite email" value="@ViewBag.Email" />
            </div>

            <button type="submit" class="login-btn">
                Pošalji kod
            </button>
        </form>

        <div class="register-link">
            <a asp-controller="Account" asp-action="Login">
                Nazad na prijavu
            </a>
        </div>
    </div>
</div>