@{
    ViewData["Title"] = "Nova lozinka";
}

<div class="auth-page">
    <div class="login-card">
        <h2>Nova lozinka</h2>

        <form method="post">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="mb-3">
                <label>Nova lozinka</label>
                <input name="newPassword" type="password" class="form-control" placeholder="Nova lozinka" />
            </div>

            <div class="mb-4">
                <label>Potvrdite lozinku</label>
                <input name="confirmNewPassword" type="password" class="form-control" placeholder="Potvrdite lozinku" />
            </div>

            <button type="submit" class="login-btn">Promijeni lozinku</button>
        </form>
    </div>
</div>