@{
    ViewData["Title"] = "Reset lozinke";
}

<h2>Unesite novu lozinku</h2>

<form asp-action="ResetNewPassword" method="post">
    <div class="mb-3">
        <label for="newPassword" class="form-label">Nova lozinka</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" required />
    </div>

    <div class="mb-3">
        <label for="confirmNewPassword" class="form-label">Potvrdite novu lozinku</label>
        <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" required />
    </div>

    <button type="submit" class="btn btn-primary">Resetuj lozinku</button>
</form>
