@{
    ViewData["Title"] = "Unos koda";
    var email = ViewBag.Email as string;
}

<div class="auth-page">
    <div class="login-card">
        <h2>Unesite kod</h2>

        <p class="auth-text">
            Kod je poslan na email adresu.
        </p>
        @if (TempData["ResetCodeForTesting"] != null)
        {
           /* <p class="auth-text" style="color:#FE7F2D !important;">
                Test kod: @TempData["ResetCodeForTesting"]
            </p>*/
        }

        <form method="post">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <input type="hidden" name="email" value="@email" />

            <div class="mb-4">
                <label>Kod</label>
                <input name="code" class="form-control" placeholder="Unesite 6-cifreni kod" />
            </div>

            <button type="submit" class="login-btn">Potvrdi kod</button>
        </form>
    </div>
</div>