@model Task6.Models.Termin

<h1>Novi termin</h1>

<form asp-action="Create">

    <div>
        <label>Datum</label>
        <input asp-for="Datum" />
    </div>

    <div>
        <label>Vrijeme</label>
        <input asp-for="Vrijeme" />
    </div>

    <div>
        <label>Dostupnost</label>
        <input asp-for="Dostupnost" />
    </div>

    <div>
        <label>Room ID</label>
        <input asp-for="RoomID" />
    </div>

    <button type="submit">Spasi</button>

</form>