@model Task6.Models.Obavijest

<h1>Dodaj obavijest</h1>

<form asp-action="Create">

    <div>
        <label>Naslov</label>
        <input asp-for="Naslov" />
    </div>

    <div>
        <label>Sadrzaj</label>
        <input asp-for="Sadrzaj" />
    </div>

    <div>
        <label>Tip obavijesti</label>

        <select asp-for="TipObavijesti">
            <option value="0">Info</option>
            <option value="1">Upozorenje</option>
            <option value="2">Promocija</option>
        </select>
    </div>

    <button type="submit">Spasi</button>

</form>