@model IEnumerable<Task6.Models.Obavijest>

<h1>Obavijesti</h1>

<p>
    <a asp-action="Create">Dodaj obavijest</a>
</p>

<table class="table">

    <tr>
        <th>Naslov</th>
        <th>Sadrzaj</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Naslov</td>
            <td>@item.Sadrzaj</td>
        </tr>
    }

</table>