@model Task6.Models.Podrska

<h1>Nova poruka</h1>

<form asp-action="Create">

    <div>
        <label>Naslov</label>
        <input asp-for="NaslovPoruke" />
    </div>

    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>

    <div>
        <label>Sadrzaj</label>
        <input asp-for="Sadrzaj" />
    </div>

    <div>
        <label>Korisnik ID</label>
        <input asp-for="KorisnikID" />
    </div>

    <button type="submit">Spasi</button>

</form>