@model IEnumerable<Task6.Models.Recenzija>

<h1>Recenzije</h1>

<p>
    <a asp-action="Create">Dodaj recenziju</a>
</p>

<table class="table">

    <tr>
        <th>Ocjena</th>
        <th>Komentar</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Ocjena</td>
            <td>@item.Komentar</td>
        </tr>
    }

</table>